In [1]:
import pandas as pd

orders_avg_diff_paid_no_outliers = pd.read_csv("../data/quality-assessed-data/orders_avg_diff_paid_no_outliers.csv", dtype=str)
product_category_df = pd.read_csv("../data/categorized-data/product_category_df.csv")
orderlines_qu = pd.read_csv("../data/quality-assessed-data/orderlines_qu.csv", dtype=str)

In [2]:
orderlines_order_no_outliers = orders_avg_diff_paid_no_outliers.merge(
    orderlines_qu,
    on='order_id',
    how='left'
)
orderlines_order_no_outliers

,Unnamed: 0.1_x,Unnamed: 0_x,order_id,created_date,total_paid,state,order_price_total,difference,Unnamed: 0.1_y,Unnamed: 0_y,id,product_id,product_quantity,sku,unit_price,date,unit_price_total
0,0,1,241423,2017-11-06 13:10:02,136.15,Completed,129.16,6.990000000000009,123178,142509,1398738,0,1,LAC0212,129.16,2017-11-06 12:47:20,129.16
1,1,2,242832,2017-12-31 17:40:03,15.76,Completed,10.77,4.99,173178,219383,1529178,0,1,PAR0074,10.77,2017-12-31 17:26:40,10.77
2,2,3,243330,2017-02-16 10:59:38,84.98,Completed,77.99,6.990000000000009,26113,28729,1181923,0,1,OWC0074,77.99,2017-02-15 17:07:44,77.99
3,3,5,245275,2017-06-28 11:35:37,149.0,Completed,149.0,0.0,71449,81676,1276706,0,1,TAD0007,149.0,2017-06-28 11:12:30,149.0
4,4,6,245595,2017-01-21 12:52:47,112.97,Completed,105.98,6.989999999999995,13718,14997,1154394,0,2,PAC1561,52.99,2017-01-21 12:49:00,105.98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53226,41696,226549,527042,2018-03-14 11:47:50,18.98,Completed,13.99,4.99,215876,293586,1649446,0,1,APP0927,13.99,2018-03-14 11:42:38,13.99
53227,41697,226577,527070,2018-03-14 11:50:48,24.97,Completed,19.98,4.989999999999998,215906,293616,1649512,0,2,APP0698,9.99,2018-03-14 11:49:01,19.98
53228,41698,226581,527074,2018-03-14 11:51:42,24.97,Completed,19.98,4.989999999999998,215911,293621,1649522,0,2,APP0698,9.99,2018-03-14 11:49:36,19.98
53229,41699,226603,527096,2018-03-14 11:58:40,34.96,Completed,29.97,4.990000000000002,215932,293644,1649565,0,3,APP0698,9.99,2018-03-14 11:54:35,29.97
53230,41700,226619,527112,2018-03-14 12:03:52,14.98,Completed,9.99,4.99,215949,293661,1649593,0,1,APP0698,9.99,2018-03-14 11:58:13,9.99

In [3]:
final_joined_df = orderlines_order_no_outliers.merge(product_category_df, how="left" , on="sku")

## Here we are calculating the discount and the discount in percentage for each item in orders

In [4]:
final_joined_df["price"] = pd.to_numeric(final_joined_df["price"])
final_joined_df["unit_price"] = pd.to_numeric(final_joined_df["unit_price"])

final_joined_df['discount'] = (final_joined_df['price'] - final_joined_df['unit_price']).round(2)
final_joined_df['discount_pct'] = (final_joined_df['discount'] / final_joined_df['price'] * 100).round(2)

### Categorize based on discount in different ranges

In [5]:
# Define discount ranges for analysis
def categorize_discount(discount_pct):
    if discount_pct <= 0:
        return '0 - No Discount'
    elif discount_pct <= 15:
        return '1-15%'
    elif discount_pct <= 25:
        return '16-25%'
    elif discount_pct <= 45:
        return '26-45%'
    elif discount_pct <= 55:
        return '46-55%'
    elif discount_pct <= 65:
        return '56-65%'
    elif discount_pct <= 75:
        return '66-75%'
    else:
        return '75%+'

# Apply the categorization function to the final_joined_df
final_joined_df['discount_range'] = final_joined_df['discount_pct'].apply(categorize_discount)

### Categorize based on discount in different ranges, more granularity

In [6]:
# Define discount ranges for analysis
def categorize_discount_more_granularity(discount_pct):
    if discount_pct <= 0:
        return '0 - No Discount'
    elif discount_pct <= 5:
        return "1-5%"
    elif discount_pct <= 10:
        return "6-10%"
    elif discount_pct <= 15:
        return "11-15%"
    elif discount_pct <= 20:
        return "16-20%"
    elif discount_pct <= 25:
        return "21-25%"
    elif discount_pct <= 30:
        return "26-30%"
    elif discount_pct <= 35:
        return "31-35%"
    elif discount_pct <= 40:
        return "36-40%"
    elif discount_pct <= 45:
        return "41-45%"
    elif discount_pct <= 50:
        return "46-50%"
    elif discount_pct <= 55:
        return "51-55%"
    elif discount_pct <= 60:
        return "56-60%"
    elif discount_pct <= 65:
        return "61-65%"
    elif discount_pct <= 70:
        return "66-70%"
    elif discount_pct <= 75:
        return "71-75%"
    elif discount_pct <= 80:
        return "76-80%"
    elif discount_pct <= 85:
        return "81-85%"
    elif discount_pct <= 90:
        return "86-90%"
    elif discount_pct <= 95:
        return "91-95%"
    else:
        return "96%+"


# Apply the categorization function to the final_joined_df
final_joined_df['discount_range_more_granularity'] = final_joined_df['discount_pct'].apply(categorize_discount_more_granularity)

In [7]:
final_joined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53231 entries, 0 to 53230
Data columns (total 28 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Unnamed: 0.1_x                   53231 non-null  object
 1   Unnamed: 0_x                     53231 non-null  object
 2   order_id                         53231 non-null  object
 3   created_date                     53231 non-null  object
 4   total_paid                       53231 non-null  object
 5   state                            53231 non-null  object
 6   order_price_total                53231 non-null  object
 7   difference                       53231 non-null  object
 8   Unnamed: 0.1_y                   53231 non-null  object
 9   Unnamed: 0_y                     53231 non-null  object
 10  id                               53231 non-null  object
 11  product_id                       53231 non-null  object
 12  product_quantity                 53231 non-null  object
 13  sku                              53231 non-null  object
 14  unit_price                       53231 non-null  float64
 15  date                             53231 non-null  object
 16  unit_price_total                 53231 non-null  object
 17  name                             53229 non-null  object
 18  desc                             53229 non-null  object
 19  price                            53229 non-null  float64
 20  in_stock                         53229 non-null  float64
 21  type                             53218 non-null  float64
 22  category                         53229 non-null  object
 23  brand                            53229 non-null  object
 24  discount                         53229 non-null  float64
 25  discount_pct                     53229 non-null  float64
 26  discount_range                   53231 non-null  object
 27  discount_range_more_granularity  53231 non-null  object
dtypes: float64(6), object(22)
memory usage: 11.4+ MB

In [8]:
final_joined_df.to_csv("../data/categorized-data/final_joined_df.csv")